.ProductSectionTwo {
  min-height: 1080px;
  padding: 80px 0 0 0;
  background-color: #2b2b37;
  @media (max-width: 1024px) {
    background-color: transparent;
  }
  .tabs {
    background-color: #2b2b37;
    @media (max-width: 1024px) {
      background-color: transparent;
      padding-bottom: 40px;
    }
    .tabs-container {
      background-color: transparent;

      .tab-swipper-container {
        margin-top: 60px;
        display: flex;
        gap: 15px;
        @media (max-width: 480px) {
          margin-top: 40px;
        }
        .tabsSwipper {
          @media (max-width: 1024px) {
            display: none;
          }

          .swiper-slide {
            max-width: 380px;
          }
        }
        .tabsSwipper-category {
          display: none;
          @media (max-width: 1024px) {
            display: flex;
          }
          .swiper-slide {
            max-width: 380px;
            // height: 157px;
            @media (max-width: 480px) {
              max-width: 315px;
            }
          }
          .TabItem {
            height: 157px;
            align-items: center;
            @media (max-width: 480px) {
              height: 134px;
            }
          }
        }
      }
      .category-swipper {
        .categorySwipper {
          .swiper-wrapper {
            align-items: flex-end;
          }
          .category {
            h2 {
              font-size: 26px;
              line-height: 100%;
            }
            span {
              margin-top: 30px;
              max-width: 638px;
              width: 80%;
              display: block;
              height: 5px;
              border-radius: 3px;
            }
            .dev-category-line {
              background: linear-gradient(270deg, #9574e4 0%, #00d897 100%);
            }
            .pre-category-line {
              background: linear-gradient(
                122.92deg,
                #dd2980 15.72%,
                #f98dc1 76.42%
              );
            }
          }
        }
      }

      .category-swipper {
        display: none;
        @media (max-width: 1024px) {
          display: block;
        }
      }
    }
  }
  .tabs-content {
    padding: 96px 0 80px 0;
    min-height: 900px;
    background-color: #2b2b37;
  }
}
