.shearwater {
  .head-container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1110px) {
      flex-direction: column;
      gap: 60px;
    }
    .title {
      max-width: 760px;
      font-size: 44px;
      line-height: 115%;
      letter-spacing: 0.05em;
    }
    .workflow-blocks {
      display: flex;
      gap: 50px;
      @media (max-width: 520px) {
        gap: 15px;
      }
      .traditional,
      .icvr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        @media (max-width: 520px) {
          width: 130px;
          height: 130px;
          gap: 10px;
        }
        @media (max-width: 380px) {
          width: 110px;
          height: 110px;
          gap: 7px;
        }

        .workflow-title {
          font-size: 24px;
          line-height: 100%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          @media (max-width: 480px) {
            font-size: 16px;
          }
        }
        .workflow-subtitle {
          font-size: 12px;
          line-height: 135%;
        }
      }
      .traditional {
        border: 5px solid #b43847;
      }
      .icvr {
        position: relative;
        border: 1px solid rgba(255, 255, 255, 0.1);

        //   border: solid #29bec8;

        .progressbar__svg {
          position: relative;
          width: 100%;
          height: 100%;
          & circle {
            fill: none;
            width: 100%;
            height: 100%;
            stroke-width: 5;
            stroke-linecap: round;
            stroke-dasharray: 200;
            stroke-dashoffset: 50;
            stroke: #29bec8;
          }
        }
      }
      .divider-l {
        display: flex;
        align-items: center;
      }
    }
  }
  .workflow-container {
    .workflow-swipper-container,
    .icvr-swipper-container {
      .workflow-swipper,
      .icvr-swipper {
        .swiper-wrapper {
          .swiper-slide:first-child {
            width: 252px !important;
          }
        }
        .time {
          position: absolute;
          top: -31px;
          max-width: 154px;
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 10px;
          text-transform: uppercase;
          line-height: 100%;
          img {
            width: 15px;
            height: 15px;
          }
          @media (max-width: 480px) {
            display: none;
          }
        }
        .swiper-wrapper {
          .swiper-slide {
            // flex-shrink: 1;
            margin-top: 31px;
            position: relative;
            width: 185px !important;
            display: flex;
            gap: 14px;
            @media (max-width: 480px) {
              margin-top: 0px;
            }
          }
        }

        .workflow-swiper-item,
        .icvr-swiper-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-width: 154px !important;
          height: 90px;
          padding: 16px 20px;
          border: 1px solid #b43847;
          border-radius: 10px;
          .swiper-item-title {
            font-size: 14px;
            line-height: 135%;
          }
          .swiper-item-subtitle {
            font-size: 13px;
            line-height: 135%;
            opacity: 0.6;
          }
        }

        .divider-arrow {
          display: inline-flex;
          text-align: center;
          align-items: center;
        }

        .icvr-swiper-item {
          border-color: #29bec8;
        }
        .icvr-swiper-item:first-child {
          width: 252px !important;
        }
      }
      .workflow-swipper {
        margin-top: 65px;
      }
      .icvr-swipper {
        position: relative;
        margin-top: 71px;
        @media (max-width: 480px) {
          margin-top: 30px;
        }
        .MainButton {
          width: 300px;
          height: 70px;
          position: absolute;
          right: 0;
          bottom: 0;
          @media (max-width: 1450px) {
            display: none;
          }
        }
      }
    }
  }
  .shearwater-text {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h3 {
      margin-top: 50px;
      font-size: 22px;
      line-height: 135%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
    p {
      font-size: 15px;
      line-height: 140%;
      opacity: 0.7;
    }
    p:first-of-type {
      margin-top: 15px;
    }
    .col-one,
    .col-two,
    .col-three {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-height: 353px;
      @media (max-width: 768px) {
        max-height: none;
      }
    }

    .col-one {
      max-width: 354px;
    }
    .col-two {
      max-width: 341px;
    }
    .col-three {
      max-width: 625px;
    }
  }
  .shearwater-button {
    display: none;
    @media (max-width: 1024px) {
      display: block;
      margin-top: 60px;
      max-width: 300px;
      height: 70px;
    }
    @media (max-width: 480px) {
      max-width: 100%;

      height: 70px;
    }
  }
}
