.card {
  width: 380px;
  height: 472px;
  padding: 80px 10px 50px 50px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  clip-path: polygon(100% 0, 100% 85%, 85% 100%, 0 100%, 0 0);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 480px) {
    max-width: 295px;
    height: 334px;
    padding: 40px 10px 40px 40px;
  }
  @media (max-width: 340px) {
    max-width: 270px;
    padding: 40px 10px 40px 16px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    border-radius: 10px;
    clip-path: polygon(100% 0, 100% 85%, 85% 100%, 0 100%, 0 0);
    background: #20202c;
    z-index: -1;
  }
  .card-img img {
    @media (max-width: 480px) {
      width: 82px;
      height: 80px;
    }
  }
  .card-text {
    // margin-top: 82px;
    @media (max-width: 480px) {
      //   margin-top: 60px;
    }
    .card-title {
      font-size: 28px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      @media (max-width: 480px) {
        font-size: 18px;
      }
    }

    .card-subtitle {
      margin-top: 15px;
      font-size: 15px;
      line-height: 140%;
      @media (max-width: 480px) {
        font-size: 13px;
      }
    }
    .card-link {
      width: fit-content;
      cursor: pointer;
      font-size: 18px;
      margin-top: 42px;
      color: #29bec8;
      text-transform: uppercase;
      @media (max-width: 480px) {
        font-size: 15px;
        margin-top: 30px;
      }
    }
  }

  &:first-child::before {
    background-color: #282834;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
  }
}
