// FONTS
@font-face {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  src: local("Monument Extended"),
    url("./assets/fonts/MonumentExtended-Regular.woff") format("woff");
}
@font-face {
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
  src: local("Formular"),
    url("./assets/fonts/formular-light-trial.woff") format("woff");
}
@font-face {
  font-family: "Formular";
  font-style: normal;
  font-weight: 400;
  src: local("Formular"),
    url("./assets/fonts/formular-regular-trial.woff") format("woff");
}
@font-face {
  font-family: "Formular";
  font-style: normal;
  font-weight: 500;
  src: local("Formular"),
    url("./assets/fonts/formular-medium-trial.woff") format("woff");
}
//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Formular", sans-serif;
  font-weight: 400;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Monument Extended", sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 80px;
  @media (max-width: 1200px) {
    padding: 0 60px;
  }
  @media (max-width: 1024px) {
    padding: 0 50px;
  }
  @media (max-width: 768px) {
    padding: 0 40px;
  }
  @media (max-width: 480px) {
    padding: 0 30px;
  }
  @media (max-width: 320px) {
    padding: 0 15px;
  }
}

.container {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 80px;
  @media (max-width: 1200px) {
    padding: 0 60px;
  }
  @media (max-width: 1024px) {
    padding: 0 30px;
  }
  @media (max-width: 768px) {
    padding: 0 10px;
  }
  @media (max-width: 480px) {
    padding: 0;
  }
}

.title {
  text-transform: uppercase;
  @media (max-width: 1200px) {
  }
  @media (max-width: 1024px) {
    font-size: 54px !important;
  }
  @media (max-width: 768px) {
    font-size: 44px !important;
  }
  @media (max-width: 576px) {
    font-size: 34px !important;
  }
  @media (max-width: 480px) {
    font-size: 24px !important;
    line-height: 135%;
    letter-spacing: 0.03em;
  }
}

.subtitle {
  @media (max-width: 1200px) {
  }
  @media (max-width: 1024px) {
    font-size: 17px !important;
  }
  @media (max-width: 768px) {
    font-size: 16px !important;
  }
  @media (max-width: 480px) {
    font-size: 15px !important;
  }
}
